# ----------------------
# Python
# ----------------------
.venv/
venv/
env/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# ----------------------
# Environment / secrets
# ----------------------
.env

.user.yml
dbt_project/profiles.yml

# ----------------------
# dbt artifacts
# ----------------------
target/
dbt_packages/
logs/
dbt_project/logs/

*.log

# ----------------------
# Airflow
# ----------------------
airflow-webserver.pid
airflow-scheduler.pid
airflow-worker.pid

# ----------------------
# VS Code / IDE
# ----------------------
.vscode/
.idea/

# ----------------------
# macOS
# ----------------------
.DS_Store

# ----------------------
# Misc
# ----------------------
tmp/
temp/